
@font-face{
  font-family: "Raleway-Medium";
  src : url("../libs/fonts/Raleway-Medium.ttf");
}
@font-face{
  font-family: "Raleway-bold";
  src : url("../libs/fonts/Raleway-Bold.ttf");
}
@font-face{
  font-family: "Arial";
  src : url("../libs/fonts/Arial.ttf");
}
@font-face{
  font-family: "Raleway-regular";
  src : url("../libs/fonts/Raleway-Regular.ttf");
}
@font-face{
  font-family: "montserrat";
  src : url("../libs/fonts/montserratbold.ttf");
}